In [1]:
import pandas as pd

In [2]:
sub1 = pd.read_csv("yulao02.csv")
sub2 = pd.read_csv("rongheguize_0902.csv")
sub3 = pd.read_csv("evaluation_public_2019091602_lgb.csv")

In [3]:
print(sub1.shape)
print(sub2.shape)
print(sub3.shape)

(5280, 2)
(5280, 2)
(5280, 2)

In [4]:
print(sub1.head)
print(sub2.head)
print(sub3.head)

<bound method NDFrame.head of         id  forecastVolum
0        1            269
1        2            342
2        3            177
3        4            317
4        5            417
...    ...            ...
5275  5364             96
5276  5365            101
5277  5366            106
5278  5367            224
5279  5368             83

[5280 rows x 2 columns]>
<bound method NDFrame.head of         id  forecastVolum
0        1            288
1        2            376
2        3            154
3        4            332
4        5            402
...    ...            ...
5275  5364             95
5276  5365             83
5277  5366            104
5278  5367            227
5279  5368             66

[5280 rows x 2 columns]>
<bound method NDFrame.head of         id  forecastVolum
0        1            224
1        2            336
2        3            168
3        4            259
4        5            382
...    ...            ...
5275  5364             93
5276  5365             88
5277  5366             73
5278  5367            220
5279  5368             52

[5280 rows x 2 columns]>

In [5]:
a = (sub1['forecastVolum'].values)
a = a*(1/3)

In [6]:
sub_ronghe = sub1.copy()
sub_ronghe['forecastVolum'] = (sub1['forecastVolum'].values)*(1/3)+(sub2['forecastVolum'].values)*(1/3)+(sub3['forecastVolum'].values)*(1/3)
sub_ronghe.head()

   id  forecastVolum
0   1     260.333333
1   2     351.333333
2   3     166.333333
3   4     302.666667
4   5     400.333333

In [7]:
sub_ronghe[['id','forecastVolum']].round().astype(int).to_csv('ronghe_091602.csv', index=False)