In [1]:
import pandas as pd

In [3]:
sub1 = pd.read_csv("yulao.csv")
sub2 = pd.read_csv("rongheguize_0902.csv")
sub3 = pd.read_csv("evaluation_public_20190916_lgb.csv")

In [4]:
print(sub1.shape)
print(sub2.shape)
print(sub3.shape)

(5280, 2)
(5280, 2)
(5280, 2)

In [6]:
print(sub1.head)
print(sub2.head)
print(sub3.head)

<bound method NDFrame.head of         id  forecastVolum
0        1            267
1        2            333
2        3            165
3        4            312
4        5            421
...    ...            ...
5275  5364             91
5276  5365             91
5277  5366            106
5278  5367            223
5279  5368             74

[5280 rows x 2 columns]>
<bound method NDFrame.head of         id  forecastVolum
0        1            288
1        2            376
2        3            154
3        4            332
4        5            402
...    ...            ...
5275  5364             95
5276  5365             83
5277  5366            104
5278  5367            227
5279  5368             66

[5280 rows x 2 columns]>
<bound method NDFrame.head of         id  forecastVolum
0        1            268
1        2            313
2        3            182
3        4            345
4        5            407
...    ...            ...
5275  5364             82
5276  5365             93
5277  5366             75
5278  5367            224
5279  5368             54

[5280 rows x 2 columns]>

In [17]:
a = (sub1['forecastVolum'].values)
a = a*(1/3)

In [22]:
sub_ronghe = sub1.copy()
sub_ronghe['forecastVolum'] = (sub1['forecastVolum'].values)*(1/3)+(sub2['forecastVolum'].values)*(1/3)+(sub3['forecastVolum'].values)*(1/3)
sub_ronghe.head()

   id  forecastVolum
0   1     274.333333
1   2     340.666667
2   3     167.000000
3   4     329.666667
4   5     410.000000

In [24]:
sub_ronghe[['id','forecastVolum']].round().astype(int).to_csv('ronghe_0916.csv', index=False)