In [2]:
import pandas as pd

In [19]:
sub1 = pd.read_csv("yulao02.csv")
sub2 = pd.read_csv("rongheguize_0902.csv")
sub3 = pd.read_csv("evaluation_public_20190917_lgb.csv")
sub4 = pd.read_csv("tutusubmit02.csv")
sub5 = pd.read_csv("yulao_xgb.csv")

In [17]:
print(sub1.shape)
print(sub2.shape)
print(sub3.shape)
print(sub4.shape)
print(sub5.shape)
print(sub6.shape)

(5280, 2)
(5280, 2)
(5280, 2)
(5280, 2)
(5280, 2)
(5280, 2)

In [5]:
print(sub1.head)
print(sub2.head)
print(sub3.head)
print(sub4.head)
print(sub5.head)

<bound method NDFrame.head of         id  forecastVolum
0        1            269
1        2            342
2        3            177
3        4            317
4        5            417
...    ...            ...
5275  5364             96
5276  5365            101
5277  5366            106
5278  5367            224
5279  5368             83

[5280 rows x 2 columns]>
<bound method NDFrame.head of         id  forecastVolum
0        1            288
1        2            376
2        3            154
3        4            332
4        5            402
...    ...            ...
5275  5364             95
5276  5365             83
5277  5366            104
5278  5367            227
5279  5368             66

[5280 rows x 2 columns]>
<bound method NDFrame.head of         id  forecastVolum
0        1            249
1        2            308
2        3            163
3        4            283
4        5            393
...    ...            ...
5275  5364             94
5276  5365             94
5277  5366             76
5278  5367            214
5279  5368             41

[5280 rows x 2 columns]>
<bound method NDFrame.head of         id  forecastVolum
0        1            183
1        2            264
2        3            129
3        4            184
4        5            244
...    ...            ...
5275  5364             64
5276  5365             68
5277  5366             69
5278  5367            160
5279  5368             55

[5280 rows x 2 columns]>
<bound method NDFrame.head of         id  forecastVolum
0        1            223
1        2            284
2        3            138
3        4            192
4        5            331
...    ...            ...
5275  5364             60
5276  5365             58
5277  5366             84
5278  5367            130
5279  5368             39

[5280 rows x 2 columns]>

In [18]:
sub_ronghe = sub1.copy()
sub_ronghe['forecastVolum'] = (sub1['forecastVolum'].values)*(1/6)+(sub2['forecastVolum'].values)*(1/6)+(sub3['forecastVolum'].values)*(1/6)+(sub4['forecastVolum'].values)*(1/6)+(sub5['forecastVolum'].values)*(1/6)+(sub6['forecastVolum'].values)*(1/6)
sub_ronghe.head()

   id  forecastVolum
0   1     253.000000
1   2     312.166667
2   3     155.000000
3   4     273.666667
4   5     370.833333

In [5]:
a = (sub1['forecastVolum'].values)
a = a*(1/3)

In [20]:
sub_ronghe = sub1.copy()
sub_ronghe['forecastVolum'] = (sub1['forecastVolum'].values+sub5['forecastVolum'].values)*(1/8)+(sub2['forecastVolum'].values)*(1/4)+(sub3['forecastVolum'].values)*(1/4)+(sub4['forecastVolum'].values)*(1/4)
sub_ronghe.head()

   id  forecastVolum
0   1        254.750
1   2        312.000
2   3        154.375
3   4        278.375
4   5        370.000

In [7]:
sub_ronghe = sub1.copy()
sub_ronghe['forecastVolum'] = (sub1['forecastVolum'].values)*(1/4)+(sub2['forecastVolum'].values)*(1/4)+(sub3['forecastVolum'].values)*(1/4)+(sub4['forecastVolum'].values)*(1/4)
sub_ronghe.head()

   id  forecastVolum
0   1         247.25
1   2         322.50
2   3         155.75
3   4         279.00
4   5         364.00

In [21]:
sub_ronghe[['id','forecastVolum']].round().astype(int).to_csv('ronghe_091803.csv', index=False)