In [6]:
import numpy as np
import pandas as pd
import matplotlib as plt
import xgboost as xgb
import lightgbm as lgb
from sklearn.preprocessing import MinMaxScaler
from datetime import date
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import scale,StandardScaler

In [8]:
from tqdm import tqdm, tqdm_notebook
from sklearn.model_selection import StratifiedKFold, KFold
from sklearn.metrics import f1_score, roc_auc_score
import datetime
import time
import lightgbm as lgb
import xgboost as xgb

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings('ignore')

In [10]:
train_sale = pd.read_csv("train_sales_data.csv")
train_search = pd.read_csv("train_search_data.csv")
train_user_reply = pd.read_csv("train_user_reply_data.csv")
submit_example = pd.read_csv("submit_example.csv")
evaluation_public = pd.read_csv("evaluation_public.csv")

In [11]:
evaluation_public.head(4)

   id province  adcode             model  regYear  regMonth  forecastVolum
0   1       上海  310000  3c974920a76ac9c1     2018         1            NaN
1   2       云南  530000  3c974920a76ac9c1     2018         1            NaN
2   3      内蒙古  150000  3c974920a76ac9c1     2018         1            NaN
3   4       北京  110000  3c974920a76ac9c1     2018         1            NaN